.container
  / begin header
  .header-wrapper.home-background.clearfix
    %header
      %h1.title
        %a{:href => "http://localhost:3000/", :title => "Sunrise"}
          =image_tag "logo.png"
      / begin nav
      .nav-wrapper
        %nav
          %ul#main.main-nav.sf-menu.sf-js-enabled.sf-shadow
            %li#menu-item-4.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-4
              %a{:href => "/home", :title => "Home" } Home
            %li#menu-item-23.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-23
              %a{ :href => "/menu", :title => "Menu" } Menu
            %li#menu-item-26.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-26
              %a{:href => "/about", :title => "About" } About
            %li#menu-item-29.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-29
              %a{:href => "/location", :title => "Location"} Location
      %ul.social
        %li
          %a.facebook{:href => "https://www.facebook.com/pages/Top-China-Restaurant/116353948389826", :title => "Facebook"} Facebook
      / end nav
      .slogan.block
        %h2 Welcome to TOPS CHINA!
        %p The best Chinese food in Warrenton!
      .clear
  / end header
  .promo
    %section.block.grid4
      .col
      .col
        %img
          =image_tag "ico_food.png"
          %h3 Delicious Chinese
          %p Tops China is the place for authentic Chinese food
      .col
        %img
          =image_tag "ico_service.png"
          %h3 Family Owned
          %p You will never forget our smile and great service.
  %section.featured.block.grid3
    %h2 Featured
    .col
      .post-thumb-wrap
        %a{:href => "http://demo.s5themes.com/sunrise/our-menu/"}
          %img
          =image_tag "sesame_chicken.png"
      .post-content
        %p
          Sesame Chicken
          %a.post_read_more{:href => "http://demo.s5themes.com/sunrise/our-menu/"} Menu
    .col
      .post-thumb-wrap
        %a{:href => "http://demo.s5themes.com/sunrise/our-menu/"}
          %img
          =image_tag "egg_roll.png"
      .post-content
        %p
          Egg Rolls
          %a.post_read_more{:href => "http://demo.s5themes.com/sunrise/our-menu/"} Menu
    .col
      .post-thumb-wrap
        %a{:href => "http://demo.s5themes.com/sunrise/our-menu/"}
          %img
          =image_tag "asian_beef.png"
      .post-content
        %p
          Asian Beef
          %a.post_read_more{:href => "http://demo.s5themes.com/sunrise/our-menu/"} Menu
  .clear
  .google-map
    %a.map-toggle.expand.collapsed{:href => "https://www.google.com/maps/place/Top+China+Restaurant/@38.728681,-77.796847,17z/data=!3m1!4b1!4m2!3m1!1s0x89b67c512d0cec07:0xf7e916a9c641138b"} Show Map
  / begin .copyright
  .copyright
    Copyright © 1999-2014 Tops China, Inc. All rights reserved. "Tops China" and related marks are registered trademarks of Tops China, Inc.